[Unit]
Description=Let's Encrypt renewal

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot certonly --dns-digitalocean --dns-digitalocean-credentials ~/certbot-creds.ini --agree-tos -m mail@ricardoalcaraz.dev -d 'ricardoalcaraz.dev' -d '*.ricardoalcaraz.dev' 
ExecStart=/usr/bin/certbot certonly --dns-digitalocean --dns-digitalocean-credentials ~/certbot-creds.ini -d '*.yeska.love' -d 'yeska.love' --agree-tos -m mail@ricardoalcaraz.dev