[Unit]
Description=Mount Share at boot

[Mount]
What=//camus/linux/
Where=/srv/nas/
Options=_netdev,iocharset=utf8,rw
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target