[Match]
Name=mv-1

[Link]
RequiredForOnline=routable
MACAddress=94:c6:91:a2:0b:da

[Network]
BindCarrier=eno1
DHCP=yes
MulticastDNS=true

[Route]
Destination=192.168.1.0/24
Scope=link

[Route]
Destination=63.205.195.241/28
Scope=link