[Unit]
Description=Scrypted automated backups

[Service]
Type=oneshot
WorkingDirectory=/opt/
ExecStartPre=systemctl stop docker-compose@scrypted
ExecStart=bsdtar --acls --xattrs -cpvaf /opt/backups/scrypted/scrypted-backup.tar --exclude=docker-compose* --exclude=*/large/* --exclude=*/fast/* scrypted/
ExecStartPost=systemctl start docker-compose@scrypted
ExecStartPost=bsdtar --acls --xattrs -cpvaf /opt/backups/scrypted/scrypted-low-res.tar --exclude=docker-compose* --exclude=*/large/* --exclude=*/fast/* scrypted/fast/