[Unit]
Description=Scrypted automated backups

[Service]
Type=oneshot
ExecPre=systemctl stop docker-compose@scrypted
ExecStart=bsdtar --acls --xattrs -cpvaf /opt/backups/scrypted-backup.tar --exclude large/* --exclude fast/* /opt/scrypted
ExecPost=systemctl start docker-compose@scrypted
ExecPost=rsync -a --quiet /opt/scrypted/fast/ /opt/backups/scrypted-low-res