[Unit]
Description=Mount surveillance share at boot

[Mount]
What=//192.168.1.69/surveillance/scrypted
Where=/opt/scrypted/large
Options=_netdev,credentials=/etc/samba/credentials/share,iocharset=utf8,rw
Type=cifs
TimeoutSec=30
ForceUnmount=true

[Install]
WantedBy=multi-user.target